<div class="divide-y divide-gray-800">
  <% 10.times do %>
    <div class="flex items-center p-2 animate-pulse">
      <div class="w-12 h-6 bg-darkless rounded shrink-0"></div>
      <div class="w-8 h-8 bg-darkless rounded-full mx-4"></div>
      <div class="flex-1"><div class="h-4 w-32 bg-darkless rounded"></div></div>
      <div class="h-4 w-16 bg-darkless rounded shrink-0"></div>
    </div>
  <% end %>
</div>
