.container {
  @apply max-w-6xl mx-auto my-0 px-4 py-8 pb-0;
}

#filterable_dashboard_content.loading > div {
  @apply grayscale opacity-70 pointer-events-none transition-[filter] duration-200 ease-in-out;
}

.filter .option input[type="checkbox"]:checked::after {
  content: "";
  @apply absolute left-1 top-1 w-1 h-2 border-white border-solid rotate-45 border-0 border-r-2 border-b-2;
}
