<h1 class="text-3xl font-bold text-surface-content mb-4">My Projects</h1>

<% if current_user.github_uid.blank? %>
  <div class="text-red mb-4">
    Heads up! You can't link your projects to GitHub until you connect your GitHub account.
    <%= link_to "Sign in with GitHub", github_auth_path, class: "btn btn-primary text-on-primary underline" %>
  </div>
<% end %>

<%= render "shared/interval_selector" %>

<%= turbo_frame_tag "project_durations", src: project_durations_static_pages_path(interval: params[:interval], from: params[:from], to: params[:to]), target: "_top" do %>
  <%= render "static_pages/project_durations_skeleton" %>
<% end %>
