<div class="animate-pulse">
  <h2 class="text-xl font-bold mb-4">Activity</h2>
  <div class="w-full overflow-x-auto pb-2.5">
    <div class="grid grid-rows-7 grid-flow-col gap-1 w-full lg:w-1/2">
      <% 364.times do %>
        <div class="w-3 h-3 activity-cell activity-cell--0 animate-pulse rounded-sm"></div>
      <% end %>
    </div>
    <p class="super invisible">Calculated in UTC</p>
  </div>
</div>
