<div class="border border-primary rounded-xl p-5 animate-pulse">
  <h2 class="text-xl font-bold mb-4 invisible">Favorite Editors</h2>
  <div class="flex flex-col gap-3">
    <% 5.times do |i| %>
      <div class="flex items-center gap-3">
        <div class="w-24 h-4 bg-darkless rounded"></div>
        <div class="flex-1 h-6 bg-darkless rounded-full overflow-hidden relative"></div>
      </div>
    <% end %>
  </div>
</div>
