legacy/rails/db/schema.rb linguist-generated
legacy/rails/swagger/** linguist-generated
legacy/rails/vendor/** linguist-vendored
legacy/rails/config/credentials/*.yml.enc diff=rails_credentials
legacy/rails/config/credentials.yml.enc diff=rails_credentials
*.sh text eol=lf
legacy/rails/bin/* text eol=lf
