<h1>Your heartbeat export is ready</h1>
<p>Hi <%= h(@user.display_name) %>,</p>
<p>Your Hackatime heartbeat export has been generated.</p>
<p>
  <a href="<%= @download_url %>">Download <%= @filename %></a>
</p>
<p>This link will stop working after 7 days.</p>
