<h1>Your heartbeat export is ready</h1>
<p>Hi <%= h(@user.display_name) %>,</p>
<p>Your Hackatime heartbeat export has been generated and is attached to this email.</p>
<p>If you didn't request this export, you can safely ignore this email.</p>
