<div>
  <h1 class="font-bold text-4xl">Extensions</h1>
  <em class="m-4">These are third-party extensions that can be used with Hackatime. Everything in the list is community made and not guaranteed to work!</em>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    <div class="border rounded-lg p-4 bg-darkless">
      <h2 class="font-bold text-2xl mb-2">Hackatime Desktop</h2>
      <p>Desktop app for Hackatime. Runs on Mac, Windows, and Linux.</p>
      <%= link_to "Source", "https://github.com/hackclub/hackatime-desktop", class: "text-primary hover:underline", allow_host: true %> |
      <%= link_to "Install", "https://github.com/hackclub/hackatime-desktop/releases", class: "text-primary hover:underline", allow_host: true %>
    </div>
    <div class="border rounded-lg p-4 bg-darkless">
      <h2 class="font-bold text-2xl mb-2">Cattatime</h2>
      <p>A Tamagotchi system for Hackatime. Code, fill your cup, and get your pet rewards. Available for windows and mac.</p>
      <%= link_to "Source", "https://github.com/joysudo/catatime/tree/master", class: "text-primary hover:underline", allow_host: true %> |
      <%= link_to "Install", "https://github.com/joysudo/catatime/releases/", class: "text-primary hover:underline", allow_host: true %>
    </div>
  </div>
</div>
