<%# locals: (url:, label:) %>
<div class="my-4">
  <a href="<%= url %>" class="inline-block px-4 py-2.5 rounded-md no-underline font-semibold text-sm text-white" style="background-color: #c8394f;">
    <%= label %>
  </a>
</div>
