<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet" data-premailer="ignore">

<div style="font: 14px/1.5 'Inter', Arial, Helvetica, sans-serif; color: #222;">
<p>
  Hey there,
</p>

<p>
  I noticed you signed up for Hackatime about a week ago - how're you finding it?
</p>

<p>
  If anything feels confusing/broken or you're missing a feature, I would really appreciate you letting me know! I read every response and would love to help make Hackatime work better for you.
</p>

<p>Cheers,</p>

<p style="margin-bottom: 0;">
  <strong>Mahad Kalam</strong><br>
  Hackatime Lead @ Hack Club<br>
  <a href="mailto:mahad@hackclub.com" style="color: #1155cc; text-decoration: none;">mahad@hackclub.com</a>
</p>
</div>
