<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet" data-premailer="ignore">

<div style="font: 14px/1.5 'Inter', Arial, Helvetica, sans-serif; color: #222;">
  <p>Hey there,</p>

  <p>Welcome to Hackatime!</p>

  <p>
    In case you're not aware, Hackatime is <a href="https://hackclub.com" style="color: #1155cc; text-decoration: none;">Hack Club</a>'s coding time tracker. With it, you can start programming in your code editor and have your time set out in a neat dashboard.
  </p>

  <p>Here are a few things you should do to get started:</p>

  <ul>
    <li>
      <a href="https://hackatime.hackclub.com/my/wakatime_setup" style="color: #1155cc; text-decoration: none;"><strong>Set up your editor.</strong></a>
      You need to do this first! It's super easy to get started.
    </li>
    <li>
      <a href="https://hackatime.hackclub.com/my/settings/goals" style="color: #1155cc; text-decoration: none;"><strong>Set a goal.</strong></a>
      You can set goals for specific time periods, languages, and projects. For instance, one goal I have is to code in <a href="https://rust-lang.org/" style="color: #1155cc; text-decoration: none;">Rust</a> for at least 30 minutes a day.
    </li>
    <li>
      <a href="https://hackatime.hackclub.com/my/settings/" style="color: #1155cc; text-decoration: none;"><strong>Set a theme.</strong></a>
      We have Catppuccin, GitHub Dark, Rose Pine, Nord and more!
    </li>
    <li>
      <a href="https://hackatime.hackclub.com/my/settings/imports_exports" style="color: #1155cc; text-decoration: none;"><strong>Import from WakaTime</strong></a>
      to have your WakaTime stats show up in Hackatime! (optional)
    </li>
  </ul>

  <p>
    If you need help with anything, feel free to reply to this email and we'll help you out as soon as we can.
  </p>

  <p>Cheers,<br>the Hackatime team</p>
</div>
